@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color : #01071c;
}

/* Style for the loading container */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Set your background color */
}

/* Style for the logo inside the loading container */
.loading-logo img {
    width: 100px; /* Adjust the initial size of your logo */
    height: auto;
    animation: scaleLogo 1s infinite alternate;
}

@keyframes scaleLogo {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2); /* Adjust the scale factor as needed */
    }
}

/* Style for the content area (your actual webpage content) */
.content {
    display: none; /* Hide the content initially */
}